.addMedicineToPrescriptionDialogBtn {
    text-align: center;
}

.medicineItemsListInPrescription {
    margin: auto;
}

.prescriptionCardsUniformHeight {
    display: flex;
}

.medicineLimitCentered {
    text-align: center;
}